.shoplist-infor,
.voucher-infor {
  flex: 1;
}
.voucher-infor p {
  margin-bottom: auto;
  font-size: 13px;
  color: grey;
}
.voucher-infor h2 {
  margin-top: auto;
  font-weight: 600;
  font-size: 17px;
}
.voucher-infor h4 {
  margin-top: auto;
}
.shoplist-infor p {
  margin-top: -15px;
}
.shoplist-infor h4 {
  flex: 1;
  cursor: pointer;
}
.shoplist-wrapper {
  display: flex;
  align-items: center;
  flex: 1;
  padding-bottom: 10px;
}
.voucher-wrapper {
  border-left: 3px solid #3571a7;
  border-top: 2px solid #f7f7f7;
  border-right: 2px solid #f7f7f7;
  border-bottom: 2px solid #f7f7f7;
  padding: 8px;
  margin-bottom: 5px;
}
.voucher-tag {
  border-left: 3px solid #3571a7;
  border-top: 2px solid #f7f7f7;
  border-right: 2px solid #f7f7f7;
  border-bottom: 2px solid #f7f7f7;
  padding: 8px 8px 0 8px;
  width: 107%;
  margin-top: 10px;
}
.voucher-tag .info-det {
  margin: 0;
  padding: 0;
}
.infor-voucher {
  display: flex;
  align-items: center;
}
.promo-modal {
  background: #fff;
  padding: 10px;
  border-top: 0;
  color: #666;
}
.stock-modal {
  margin: 0;
  background: #fff;
  padding: 0;
  border-top: 0;
  color: #666;
}
.info-det {
  margin-top: 10px;
}
.more-infor {
  color: #3571a7;
  width: 15px;
  height: 15px;
  border-radius: 10px;
  border: 1px solid #3571a7;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  font-size: 12px;
  cursor: pointer;
}
.modal-wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  transition: 0.75s linear;
  z-index: 1000;
}
.modal-wrapper1 {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  transition: 0.75s linear;
  z-index: 1001;
}
.shoplist-box {
  width: 400px;
  min-height: 240px;
  max-height: 4400px;
  position: absolute;
  left: 35%;
  top: 10%;
  overflow-y: scroll;
}
.verify-img {
  width: 180px;
  height: 180px;
}
.verify-img img {
  width: 100%;
  height: 100%;
}
.photolist {
  display: inline-block;
  align-items: center;
  justify-content: center;
}
.photo-productvar {
  width: 135px;
  height: 155px;
  position: relative;
  text-transform: uppercase;
  transition: 0.5s;
  border-radius: 8px;
  margin-top: -10px;
}
.photo-productvar img {
  width: 100%;
  height: 100%;
}
