.shoplist-infor {
  padding-right: 20px;
  flex: 1;
}
.shoplist-infor p {
  margin-top: -15px;
}
.shoplist-infor h4 {
  width: 150px;
}
.shoplist-wrapper {
  display: flex;
  align-items: center;
  flex: 1;
  padding-bottom: 10px;
}
