@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
} */
.slides .slick-prev {
  left: 3% !important;
  z-index: 1;
}
.slides .slick-next {
  right: 3% !important;
  z-index: 1;
}
.section-blue {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: linear-gradient(
    to bottom,
    rgba(27, 2, 116, 0.945),
    rgb(146, 171, 253)
  ); */
  background: linear-gradient(to bottom, rgb(53, 113, 167), rgb(162, 188, 233));
  transition: 0.5s;
}
.section-red {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: #730616; */
  /* background: #5e1018; */
  background: linear-gradient(
    to bottom,
    rgba(99, 2, 2, 0.788),
    rgba(198, 113, 121, 1)
  );
  transition: 0.5s;
}
.section-black {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: linear-gradient(
    to bottom,
    rgba(39, 5, 5, 0.87),
    rgb(122, 122, 122)
  );
  transition: 0.5s;
}

.sheader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 0px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  color: #000;
  z-index: 11;
}

.sheader .logo {
  position: relative;
  max-width: 80px;
  color: #fff;
  font-weight: 400;
  font-size: 30px;
  margin-top: -30px;
  flex: 1;
}

.sheader ul {
  position: relative;
  display: flex;
}
.sheader ul li {
  list-style: none;
}
.sheader ul li .item {
  display: flex;
  color: #fff;
  font-weight: 400;
  margin-left: 25px;
  text-decoration: none;
  align-items: center;
  font-weight: 600;
  margin-top: -15px;
  transition: 0.75s;
  cursor: pointer;
  top: 0;
  left: 0;
}
.sheader ul li .item-acc {
  display: flex;
  color: #fff;
  font-weight: 400;
  margin-left: 25px;
  text-decoration: none;
  align-items: center;
  font-weight: 600;
  margin-top: -15px;
  transition: 0.75s;
  width: 80px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.header1 ul li .item-acc {
  display: flex;
  color: #0d1136;
  font-weight: 400;
  margin-left: 25px;
  text-decoration: none;
  align-items: center;
  font-weight: 600;
  transition: 0.75s;
  width: 80px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.header1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  background-color: white;
  border-bottom: 2px solid #ebebeb;
  box-shadow: 10px 1px 5px #e2e2e2;
  z-index: 11;
}

.header1 .logo {
  position: relative;
  max-width: 100px;
  color: #0d1136;
  font-weight: 400;
  font-size: 20px;
  font-weight: 600;
}

.header1 ul {
  position: relative;
  display: flex;
}
.header1 ul li {
  list-style: none;
}
.header1 ul li .item {
  display: flex;
  color: #0d1136;
  font-weight: 400;
  margin-left: 25px;
  text-decoration: none;
  align-items: center;
  font-weight: 600;
  transition: 0.75s;
  cursor: pointer;
}

.user-content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user-content .textBox {
  position: relative;
  max-width: 600px;
}
.user-content .textBox h2 {
  color: #fff;
  font-size: 4em;
  line-height: 1.5em;
  text-transform: uppercase;
}
.user-content .textBox h2 span {
  font-size: 2em;
}
.user-content .textBox p {
  color: #fff;
}
.user-content .textBox .item {
  color: #fff;
  display: inline-block;
  margin-top: 20px;
  padding: 8px 20px;
  background: #fff;
  color: #111;
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
}
.user-content .textBox .item:hover {
  color: #fff;
  display: inline-block;
  margin-top: 20px;
  padding: 8px 20px;
  background: #fff;
  color: #111;
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  transform: scale(1.15);
}
.user-content .imgBox {
  width: 420px;
  /* display: flex; */
  padding-right: 50px;
  margin-top: 50px;
  justify-content: flex-end;
}
.user-content .imgBox img {
  max-width: 500px;
}
.thumb {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  display: flex;
}
.thumb li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  cursor: pointer;
  transition: 0.5s;
}
.thumb li:hover {
  transform: translateY(-20px);
}
.thumb li img {
  max-width: 100px;
}

/* FOOTER */
.fixed-footer {
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #262626;
}
.fixed-footer > * {
  padding: 20px;
}
.social {
  display: flex;
  justify-content: space-between;
  width: 200px;
}
.shopnow {
  padding-top: 50px;
  display: flex;
}
.shopnow .shop {
  font-weight: 700;
  font-size: 40px;
  color: white;
}
.shopnow .now {
  font-weight: 700;
  font-size: 40px;
  color: #3571a7;
}
.description {
  text-align: center;
  width: 500px;
  color: whitesmoke;
}
.social div {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: #262626;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 1px solid white;
}
.social div:hover {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: #262626;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3571a7;
  border: 3px solid #3571a7;
  cursor: pointer;
}
.footer-cate {
  color: white;
  display: flex;
  width: 400px;
  justify-content: space-between;
}
.footer-cate > *:hover {
  color: #3571a7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.row-flex-center {
  display: flex;
  align-items: center;
}
.searchbar-inp {
  background: #f5f5f5;
  border: none;
  border-top-right-radius: 50px;
}
.search-btn {
  background: #f5f5f5;
  border-radius: 20px 0 0 20px;
}
