/* * {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, Geneva, Tahoma,
    sans-serif;
} */
.paga-link_hidden {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
  pointer-events: none;
}
.skuproduct-card {
  width: 240px;
  height: 300px;
  background: #f5f5f5;
  padding: 15px;
  position: relative;
  text-transform: uppercase;
  transition: 0.5s;
  border-radius: 8px;
}
.rating-image {
  width: 100px;
  height: 120px;
  background: #f5f5f5;
  padding: 15px;
  position: relative;
  text-transform: uppercase;
  transition: 0.5s;
  border-radius: 8px;
}
.duplicate-wrapper {
  margin: 0px 0 0 -30px;
}
.duplicate-info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.duplicate-card {
  width: 215px;
  height: 280px;
  background: #f5f5f5;
  padding: 20px;
  position: relative;
  transition: 0.5s;
  border-radius: 8px;
}

.duplicate-card:hover {
  width: 215px;
  background: #dae3f3;
  padding: 20px;
  position: relative;
  transition: 0.5s;
  box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.5);
  transform: scale(0.95);
  cursor: pointer;
}

.duplicate-card h1 {
  font-size: 15px;
  margin-bottom: 4px;
  color: #0d1136;
  text-transform: uppercase;
}
.duplicate-card .p {
  font-size: 4px;
  color: #bbb;
}
.duplicate-btn {
  color: #3571a7;
  text-decoration: none;
  border: 1px solid;
  padding: 5px 15px;
  border-radius: 18px;
  transition: 0.4s linear;
  cursor: pointer;
  font-size: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.duplicate-btn i {
  font-size: 22px;
}
.duplicate-btn:hover {
  /* transform: scale(1.1); */
  background-color: #3571a7;
  color: white;
}
.required {
  border: 1px solid red;
  border-radius: 5px;
}
.variant-values-wrapper {
  flex: 1;
  display: inline-grid;
  flex-direction: row;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}
.similar-wrapper {
  display: flex;
}
